/* Universal Styles */

html,
body {
  font-size: 16px
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}



/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  line-height: 1.6;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

header .content .logo {
  display: flex;
}

header nav ul {
  display: flex;

}

nav li {
  padding-left: 1rem;
}
header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}
