/* Universal Styles */

html,
body {
  font-size: 16px
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}


/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 4rem;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
}

header .content .logo {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.content .logo img {
  height: 3rem;
  padding-left: 1.5rem;
}

header nav ul {
  display: flex;

}

nav li {
  padding-left: 1rem;
}
header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}


/* Banner */

main .banner{
  display: flex;
  flex-flow: row;
  background-color: lightgrey;
  border: solid .25rem black;
  padding: 2rem 1.5rem
}

.banner .image-container {
  width: 60%;

}

.banner .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
