/* Universal Styles */

html,
body {
  font-size: 16px
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

.flex-container {
  display: flex;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}


/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 4rem;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
}

header .content .logo {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.content .logo img {
  height: 3rem;
  padding-left: 1.5rem;
}

header nav ul {
  display: flex;
  padding-right: .5rem;

}

nav li {
  padding-left: 1rem;
}
header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}


/* Banner */

main .banner{
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: solid .25rem black;
  padding: 2rem 1.5rem
}

.banner .image-container {
  max-width: 60%;
  padding-right: 2.5rem;

}

.banner .content {
  display: flex;
  flex-flow: column;
  margin: 2rem;
  padding-left: .5rem;
  height: 51rem;
  line-height: 1.25;
  justify-content: center;
  color: black;
  border: solid 1px black;
}

.banner .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.banner .content p {
  font-size: 1.5rem;
  padding: .5rem;
}

.banner .content a {
  background-color: black;
  color: white;
  text-align: center;
  padding: .5rem ;
  width: 80%;
}


/* Information */

.flex-container .info {
  width: 100%;
  border: solid 2px grey;
}

.flex-container .quote {
  flex-flow: column;
  border: solid 2px grey;
}

.quote .image-container img {
  max-width: 100%;
}

.quote .content {
  padding-left: 1.5rem;

}
.quote .content h2{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.quote .image-container {
  padding: 2rem 1.5rem;

}

.flex-container .details {
    border: solid 2px grey;
    flex-flow: column;
    width: 35%;
  }

.smallflex {
  display: flex;
  width: 100%;
  border: solid 2px grey;
  padding: 1rem;
}
